.flexbox {
    background-color: #66B4F7;
}

.flexbox h1 {
    text-align: center;
    color: #F99825;
    margin: 10px;
}


.container-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}